[submodule "mslearn-copilot-codespaces-python"]
	path = mslearn-copilot-codespaces-python
	url = git@github.com:Fabr1ce/mslearn-copilot-codespaces-python.git
	branch = cool-dev
[submodule "mslearn-copilot-codespaces-javascript"]
	path = mslearn-copilot-codespaces-javascript
	url = git@github.com:Fabr1ce/mslearn-copilot-codespaces-javascript.git
	branch = cool-dev
[submodule "skills-copilot-codespaces-vscode"]
	path = skills-copilot-codespaces-vscode
	url = git@github.com:Fabr1ce/skills-copilot-codespaces-vscode.git
	branch = cool-dev
